{% extends 'bases.html' %}

{%block content%} 

    <header>
        <!-- Sidebar -->
        <div style="float: right; width: 25%; margin-top: 30px;">
            {%for mod in courses.module.all %}
                {%if user.is_authenticated%} 
                
                    <a href="{%url 'courses:modulelistdetail' slug=mod.slug course=courses.slug subject=courses.subject.slug%}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Module {{mod.position}} {{mod.name}}</span>
                    </a>
                {%else%}
                    <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Module {{mod.position}} {{mod.name}}</span>
                    </a>
                {%endif%}
    
            {%endfor%}
            {%if user.is_superuser%}
        
                <button type="button" class="btn btn-primary mb-3" style="width: 100%;">
                    <a href="{% url 'courses:modulecreate' subject=courses.subject slug=courses%}" style="text-decoration: none;color: white;">create Module</a>
                </button>
            {%endif%}
        </div>
        <!-- Sidebar -->
      
        <!-- Navbar -->
        
        <!-- Navbar -->
    </header>
      
      <!--Main Navigation-->
      
      <!--Main layout-->
    
      <div class="container">
    
        <div class="row" >
    
            {%for mod in courses.module.all %}
                
                    <div class="col-md-3 " style="margin-top: 30px; margin-bottom: 50px;">
                                  
                                    
                            <div class="card cardre" style="border: 1px solid black; margin-bottom: 150px;">
                                {%if user.is_authenticated%}  
                                    <a href="{%url 'courses:modulelistdetail' slug=mod.slug course=courses subject=courses.subject%}">
    
                                        <div class="title" style="width: 100%; color: #000000; background: #212529; text-transform: uppercase; padding: 5px; text-align: center;">
                                            <h5 class="subTitle" style="color: #000000;">
                                                <a href="{%url 'courses:modulelistdetail' slug=mod.slug course=courses.slug subject=courses.subject.slug%}" style="text-decoration: none; color: white;">{{mod.name}}</a>
                                            </h5>
                                        </div>
                                        <div class="card-body">
                                            <a href="" style="text-decoration: none;">
                                                <h5 class="card-title" style="color: #212529;">{{mod.name}}</h5>
                                            </a>
                                            {%if mod.video%}
                                                {{mod.video.url}}
                                            {%endif%}
                                            <p class="card-text">{{mod.description}}<br>This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                        </div>
                                    </a>
    
                                {%else%}
                                    <div class="title" style="width: 100%; color: #000000; background: #212529; text-transform: uppercase; padding: 5px; text-align: center;">
                                        <h5 class="subTitle" style="color: white;">
                                           {{mod.name}}
                                        </h5>
                                    </div>
                                    <p style="margin: 3px;">to follow this course, you might be connected <a href="{%url 'login'%}">login</a></p>
                                {%endif%}
                            </div>
                        
                    
                    </div>
            {%empty%}
                <div class="col-md-12" style="margin-bottom: 150px;">
                    <h1>No module in this course</h1><br>
                    
                    <p>please we are updating  this subject for the moment </p> 

                    <p> are so sorry for that </p> 

                    <p>You can select another subject by clicking on the link below </p>

                    <a href="{% url 'courses:courselist' slug=courses.subject.slug%}">courses</a>
                
                    </div>
                
            {%endfor%}
        </div>
      </div>
      <!--Main layout-->
        
    





{% endblock%}